<% if user_signed_in? %>
<% if @chitchat.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@chitchat.errors.count, "error") %> prohibited
        this chitchat from being saved:
      </h2>
      <ul>
        <% @chitchat.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

	<%= label_tag 'string', 'Content' %> 
	<%= text_area_tag 'string' %>
  <% end %>