
<h2> Gossip by <%= @chitchat.user.anonymous_username %> </h2>
<p> <%= @chitchat.content %> </p>

<% if current_user == @chitchat.user %>

<p> <%= link_to('Editer mon gossip', edit_chitchat_path) %> </p> 

<% end %>

<p> <%= link_to('Voir tous les gossips', chitchats_path) %> </p> 